@import (reference) '~src/assets/css/common.less';
.head{
	width: 100%;
	padding: 0 20px;
	background: #44404a;
	overflow: hidden;
}
.menu{
	padding: 0 20px;
	overflow: hidden;
	span{
		float: left;
		margin-left: 15px;
		color: #fff;
		height: 55px;
		line-height: 55px;
		padding: 0 15px;
		cursor: pointer;
		transition: 0.2s all;
		font-size: 15px;
	}
	span:hover{
		color: #61dafb;
	}
	.active{
		border-bottom: 4px solid #61dafb;
		color: #61dafb;
	}
	float: left;
	height: 100%;
}
.logo{
	height: 50px;
	img{
		height: 80%;width: auto;
	}
	float: left;
	height: 100%;
	font-size: 30px;
	color: #61dafb;
	font-weight: bold;
	padding-bottom: 5px;
	cursor: pointer;
	.flex-center;
}
.login{
	color: #fff;
	float: right;
	height: 55px;
	cursor: pointer;
	.flex-center;
}